@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Fira+Code:wght@300..700&family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@layer root {
  :root {
    --color-fore:     #0D1317;    
    --color-lightest: #2B2C31;
    --color-lighter:  #3F434B;
    --color-light:    #5A636D;
    --color-mid:      #717E8A;
    --color-dark:     #9F9F9F;
    --color-darker:   #C1C1C1;
    --color-darkest:  #DCDCDC;
    --color-back:     #F5F5F5;  

    --color-danger:   var(--color-rose-600);
    --color-warn:     var(--color-amber-600);
    --color-safe:     var(--color-emerald-600);
    --color-info:     var(--color-blue-600);

    --color-autofill: var(--color-yellow-100);

    --font-title:     'Lexend Giga', sans-serif;
    --font-header:    'League Spartan', sans-serif;
    --font-body:      'Lexend', sans-serif;
    --font-code:      'Fira Code', monospace;
  }

  #root {
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--color-fore);
    color: var(--color-back);
    font-family: var(--font-body);
    font-size: 1rem;
  }
}

@theme {
  --color-back:     var(--color-background);
  --color-darkest:  var(--color-darkest);
  --color-darker:   var(--color-darker);
  --color-dark:     var(--color-dark);
  --color-mid:      var(--color-mid);
  --color-light:    var(--color-light);
  --color-lighter:  var(--color-lighter);
  --color-lightest: var(--color-lightest);
  --color-fore:     var(--color-foreground);

  --color-danger:   var(--color-rose-300);
  --color-warn:     var(--color-amber-200);
  --color-safe:     var(--color-emerald-300);
  --color-info:     var(--color-blue-300);
  
  --font-title:     var(--font-title);
  --font-header:    var(--font-header);
  --font-body:      var(--font-body);
  --font-code:      var(--font-code);
}

@layer base {
  input:-webkit-autofill {
    filter: none;
    box-shadow: 0 0 0 1000px var(--color-autofill) inset !important;
  }

  input:-webkit-autofill + button {
    color: var(--color-black);
  }
}

@layer components {
  .form\:authform {
    @apply
      space-y-6
  }

  .form\:field {
    @apply
      flex flex-col 
      gap-2 w-full
  }
  
  .form\:label {
    @apply
      font-medium 
      text-sm text-lightest 
      capitalize
  }

  .form\:input {
    @apply
      w-full p-2 
      text-light 
      rounded-md 
      outline outline-darker 
      focus:outline-2 focus:outline-light
  }
  
  .form\:submit {
    @apply 
      w-full p-2 mt-2 
      cursor-pointer 
      capitalize text-back
      bg-fore 
      rounded-sm 
      transition-colors duration-100
      hover:bg-lightest 
      disabled:bg-darker disabled:text-dark disabled:cursor-auto 
  }

  .form\:oauth {
    @apply 
      flex items-center justify-center 
      gap-2 w-full p-2 
      cursor-pointer 
      rounded-sm 
      border border-lighter 
      transition-colors duration-100
      hover:bg-darker 
      focus:outline-2 focus:outline-lightest 
  }
}

@layer utilities {

}

@layer media {
  @media (prefers-color-scheme: dark) {
    :root {
      --color-back:     #0D1317;    
      --color-darkest:  #2B2C31;
      --color-darker:   #3F434B;
      --color-dark:     #5A636D;
      --color-mid:      #717E8A;
      --color-light:    #9F9F9F;
      --color-lighter:  #C1C1C1;
      --color-lightest: #DCDCDC;
      --color-fore:     #F5F5F5;  

      --color-danger:   var(--color-rose-300);
      --color-warn:     var(--color-amber-200);
      --color-safe:     var(--color-emerald-300);
      --color-info:     var(--color-blue-300);
    }

    #root {
      background-color: var(--color-back);
      color: var(--color-fore); 
    }
  }
}
